:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-raisin-black: #241715;
  --old-burgundy: #402a2c;
  --old-mauve: #5d2e46;
  --queen-pink: #d9b8c4;
  --mountbatten-pink: #957186;
  --copper-penny: #ad6a6c;
  --silver-pink: #d0ada7;
  --champagne-pink: #e8d6cb;
  --color-wine: #672e2f;

  --color-dark-purple: #0e0c0c;
  --color-deep-purple: #211729;
  --color-plum-purple: #5a3e62;
  --color-light-purple: #7b5c75;
  --color-wine-red: #702632;
}

* {
  margin: 0;
}
