img {
  width: 100%;
}

.room img {
  width: 50%;
}

.economy,
.standard,
.luxury {
  display: flex;
  width: 50%;
}

.calendar table tbody {
  background-color: var(--color-light-purple);
  border-spacing: 0;
  border-collapse: 0;
}

.weekdays {
  background-color: var(--color-white);
}
