body {
  background-color: var(--color-raisin-black);
  color: var(--color-white);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h2 {
  text-align: center;
}

.hero {
  margin-bottom: 100px;
}

.error-container,
.name-input,
.room-alternatives,
.form-calendars,
.features,
.form-button,
.form-calendar,
.form-transfercode {
  display: flex;
  flex-direction: column;
}

.budget,
.standard,
.luxury,
.total-cost,
.feature {
  display: flex;
  flex-direction: row;
}

.room,
.errors,
nav,
ul,
.total-cost,
.link-container,
.offer {
  display: flex;
}

.date,
.name,
.transfer-code,
.submit-button,
.choose-room {
  border-radius: 10px;
}

.error-container,
.errors,
nav,
ul,
.form-transfercode,
.feature,
.total-cost,
.form-button,
.offer {
  justify-content: center;
  align-items: center;
}

.budget,
.standard,
.luxury {
  justify-content: space-between;
  margin: 0 40px 120px 40px;
}

.room {
  width: 500px;
  height: 385px;
  flex-grow: 1;
  justify-content: space-between;
}

table {
  text-align: center;
  width: 385px;
  height: 385px;
}

.calendar table tbody {
  background-color: var(--mountbatten-pink);
  border-spacing: 0;
  border-collapse: 0;
}

td,
th {
  border: 1px solid var(--color-raisin-black);
  width: 55px;
  padding: 0;
}

th {
  background-color: var(--copper-penny);
}

.error-container {
  margin-top: 100px;
}

.errors {
  background-color: var(--copper-penny);
  color: var(--color-white);
  border: 4px solid var(--silver-pink);
  height: 80px;
  width: 600px;
  border-radius: 16px;
  text-align: center;
  margin-top: 20px;
}

footer {
  width: 100%;
  height: 150px;
  background-color: var(--old-burgundy);
}

nav {
  width: 100%;
  height: 100px;
  background-color: var(--old-burgundy);
}

.date {
  height: 30px;
  width: 130px;
  padding: 0 10px 0 10px;
}

.name {
  height: 25px;
  width: 150px;
}

.transfer-code {
  height: 25px;
  width: 300px;
  padding-left: 5px;
}

.submit-button {
  width: 100px;
  height: 50px;
}

.choose-room {
  height: 30px;
}

ul {
  list-style: none;
  padding: 0;
  gap: 150px;
}

ul:hover,
.submit-button:hover,
.choose-room:hover {
  cursor: pointer;
}

.total-cost {
  gap: 10px;
}

a {
  text-decoration: none;
  color: var(--color-white);
  transition: 0.3s;
}

.link-container {
  justify-content: center;
  margin-top: 20px;
}

.total-cost p,
.total-cost h3,
.room-info h3,
.room-info p {
  display: inline-block;
}

form {
  display: grid;
  grid-template-columns: repeat(5, 2fr) 1fr;
  grid-template-rows: repeat(2, 2fr);
  margin: 0 40px 0 40px;
}

.name-input,
.room-alternatives,
.form-calendars,
.features {
  grid-row: 1/2;
}

.total-cost,
.form-transfercode,
.form-button {
  grid-row: 2/ 3;
}

.offer {
  grid-row: 1/ 3;
}

.name-input {
  grid-column: 2/ 3;
}

.room-alternatives {
  grid-column: 3/ 4;
}

.form-calendars {
  grid-column: 4/ 5;
}

.features {
  grid-column: 5/ 6;
}

.total-cost {
  grid-column: 4/ 5;
}

.form-transfercode {
  grid-column: 2/ 4;
}

.form-button {
  grid-column: 5/ 6;
}

.offer {
  grid-column: 1/ 2;
}

.name-input,
.room-alternatives,
.form-calendars,
.features {
  justify-content: center;
  align-items: flex-start;
  margin-left: 20px;
}

.form-calendars {
  gap: 10px;
}

.feature input {
  width: 18px;
  height: 18px;
}

.feature {
  flex-wrap: none;
  gap: 10px;
}

.room-picture {
  width: 385px;
  height: 385px;
  margin-top: 27.2px;
}

.feature label {
  white-space: nowrap;
}

.room-info {
  padding: 0 20px 0 20px;
  width: 380px;
}

form {
  border: 5px solid var(--silver-pink);
  padding-top: 10px;
}

li:hover,
a:hover {
  color: var(--old-mauve);
}

li {
  transition: 0.3s;
}

.form-button button {
  color: var(--color-white);
  background-color: var(--old-burgundy);
  border: 3px solid var(--silver-pink);
  transition: 0.3s;
}

.form-button button:hover {
  background-color: var(--color-raisin-black);
}

.offer p {
  margin: 0 40px 0 40px;
}

.description p {
  margin-top: 30px;
}
