h1 {
  font-family: 'UnifrakturCook';
}

th {
  font-family: 'Vollkorn-Bold';
  font-size: 1.3rem;
}

td {
  font-family: 'Vollkorn-SemiBold';
  font-size: 1.3rem;
}

.date {
  font-family: 'Vollkorn-Bold';
  font-size: 1rem;
}

nav {
  font-family: 'UnifrakturCook';
  font-size: 3rem;
}

label,
h2,
h3,
.total-cost p,
.room-price,
.features p {
  font-family: 'Vollkorn-Medium';
  font-size: 1.2rem;
}

.name,
.transfer-code,
.choose-room,
.submit-button {
  font-family: 'Vollkorn-Medium';
  font-size: 1rem;
}

a {
  font-family: 'UnifrakturCook';
  font-size: 2rem;
}

li a {
  font-family: 'UnifrakturCook';
  font-size: 3rem;
}

.errors p {
  font-family: 'Vollkorn-Medium';
  font-size: 1.5rem;
}

.offer p {
  font-family: 'Vollkorn-Medium';
  font-size: 1.5rem;
}

.description p {
  font-family: 'Vollkorn-Medium';
  font-size: 1.4rem;
}
